{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% bootstrap_javascript %}
{% load socialaccount %}


<html>
<body>
<figure class="text-center">

    <html>
        <nav class="navbar navbar-expand-lg " style = "background-color:rgb(81, 219, 81)">
            <div class="container-fluid">
              <a class = "navbar-brand text-black"><i class = "bi bi-box-seam"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item" style = "font-family:'Franklin Gothic Medium'">
                    <a class="nav-item nav-link active h1 text-white">THE TAPBOX</a>
                  </li>
                </ul>
                <u2 class = "navbar-nav ms-auto">
                  <li class="nav-item mr-auto" style="font-family: 'Franklin Gothic Medium';" >
                    <a class="nav-link nav-link active text-lg h1 text-white">Brought to you by OUTSIDE THE BOX</a>
                  </li>>
                </u2>
              </div>
            </div>
          </nav>
    </html>

</figure>
</body>




<html>
<body>
<h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>